@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

html, body {
    height: 100%;
    width: 100%;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: #cfc1ab;
    padding: 15px;
    margin: 0;
}

h1 {
    color: #333;
    margin-bottom: 20px;
    text-align: center;
}

.container {
    background-color: #d29f37;
    width: 22vw;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.input {
    width: 100%;
    padding: 15px;
    font-size: 24px;
    border: 2px solid #000;
    border-radius: 9px;
    margin-bottom: 10px;
    text-align: right;
    box-sizing: border-box;
}

.row {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
}

.button {
    padding: 15px;
    margin: 7px;
    width: 70px;
    border: 2px solid #000;
    border-radius: 9px;
    background-color: #ff7f50;
    color: white;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #ff4500;
}

.button:active {
    background-color: #d83800;
}

.text-center {
    text-align: center;
}
